<div class="text-center mt-4">
    <form class="form-signin border rounded" [formGroup]="loginForm" method="post" (submit)='login($event)'>
        <img class="mb-4" src="assets/cart.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login to your E-shop account</h1>
        <hr>

        <p *ngIf="error" class="alert alert-danger">{{error}}</p>
        <p *ngIf="success" class="alert alert-success">{{success}}</p>

        <span class="text-danger font-weight-bold"
            *ngIf="(loginForm.get('email').touched || !loginForm.get('email').pristine) && loginForm.get('email').errors?.required">
            **Email is required
        </span>
        <span class="text-danger font-weight-bold"
            *ngIf="(loginForm.get('email').touched || !loginForm.get('email').pristine) && loginForm.get('email').errors?.email">
            **Enter a valid email address
        </span>
        <input type="email" id="inputEmail" formControlName="email" name="email" class="form-control mb-2"
            placeholder="Email address" required autofocus>


        <label for="inputPassword" class="sr-only">Password</label>
        <span class="text-danger font-weight-bold"
            *ngIf="(loginForm.get('password').touched || !loginForm.get('password').pristine) && loginForm.get('password').errors?.required">
            **Password is required
        </span>
        <span class="text-danger font-weight-bold"
            *ngIf="(loginForm.get('password').touched || !loginForm.get('password').pristine) && loginForm.get('password').errors?.invalidPassword">
            **Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
        </span>
        <input type="password" id="inputPassword" formControlName="password" name="password" class="form-control mb-2"
            placeholder="Password" required>



        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>